body {
    background:url("../img/bg bintang.png") center/cover;
}
.menu {
        text-align: center;
        padding: 10px;
        margin: auto;
}
.menu a{
        font-family: permanent marker;
        color: cyan;
        padding: 5px;
        text-align: center;
        display: block;
        font-size: 25px;
}
.logo,.menu{
    display: block;
    margin: 40px;
}
.biodata{
        font-family: permanent marker;
        color: cyan;
        padding: 5px;
        text-align: center;
}
.header{
    text-align: center;
    font-family: dead kansas;  
    color: white;
    font-size: 75px;
}