* {
    box-sizing: border-box;
}
body {
    background:url("../img/bg bintang.png") center/cover;
}
.menu {
        text-align: center;
        padding: 10px;
        margin: auto;
}
.menu a{
        font-family: permanent marker;
        color: cyan;
        padding: 5px;
        text-align: center;
        display: block;
        font-size: 25px;
}
.logo,.menu{
    display: block;
    margin: 40px;
}
.biodata{
        font-family: permanent marker;
        color: cyan;
        padding: 5px;
        text-align: center;
        font-size: 50px;
}
.header{
    text-align: center;
    font-family: dead kansas;  
    color: white;
    font-size: 75px;
    display: inline-block;
}
#particles-js {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 5px;
    top: 5px;
    z-index: -1;
}